<header>
    <div id="titel">
        <a href="/"><img src="./img/logo.png" alt="Bild kann nicht angezeigt werden"></a>
        <h1>Raumverwaltung</h1>
    </div>
    <nav>
        <ul>
            <li><a href="./buchungdetails">Buchung</a></li>
            <li><a href="./raumliste">Räume</a></li>
            <li><a href="./neuebuchung">neue Buchung</a></li>
        </ul>
    </nav>
    <hr>
</header>