<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>404</title>
</head>
<body>
     <%- include("includes/header.ejs") %>
    <img src = "img/404.png" alt="404 Fehlerseite" width="1200" height="500">
    <%- include("includes/footer.ejs") %>    

</body>
</html>