<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Saufen</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <header>
    <h1><%= spieler%> </h1>
    <h2>Dein Glas ist voll! Wähle jemanden aus der Liste, der jetzt trinken muss!</h2>
    </header>
    <main>
    <div id="liste">
            <ul>
            <% for (spieler of spielerarray) { %>
            <li> <%= spieler.name%></li>
            <% } %> 
            </ul>
       </div>
       <div id="auswahl">
            <input type="button" value="Done!" onclick="alert('Punkte vom Spieler werden zurückgesetzt')">         
       </div>
    </main>
</body>
</html>