<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Saufen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1><%= spieler%> </h1>
    <h2>Dein Glas ist voll! Wähle jemanden aus der Liste, der jetzt trinken muss!</h2>
    <div id="liste">
            <ul>
            <% for (spieler of spielerarray) { %>
            <li> <%= spieler.name%></li>
            <% } %> 
            </ul>
       </div>
       <div id="auswahl">
            <input type="button" value="Done!" onclick="alert('Punkte vom Spieler werden zurückgesetzt')">         
       </div>
</body>
</html>