<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Spielereingabe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>

<body>
    <h2>Spielereingabe</h2>
    <div id="Textfeld">
        <form action="http://mwegener.com:8040/spielereingabe" method="post">
            <input type="text" name="spielername">
            <input type="submit" value="Hinzufügen">
        </form>
    </div>
    <div id="liste">
        <ul>
            <% for (spieler of spielerarray) { %>
            <li> <%= spieler%></li>
            <% } %>
        </ul>
    </div>
    <form method="POST" action="http://mwegener.com:8040/spielerloeschen">
        <input type="submit" value="Alle Spieler löschen">
    </form>
    
</body>