<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Startbildschirm</title>
</head>
<body>
    <header>
    <img src = "/img/Ethanolgame.png" alt="Weinflasche" width="40%" height="40%">  
    </header>
    <main>  
    <input type="button" value="Saufen!" onclick="window.location.replace('http://mwegener.com:8040/spielereingabe')">
    </main>
</body>
</html>