<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Zwischenseite</title>
</head>
<body>  
    <input type="button" value="Weiter gehts!" onclick="window.location.replace('http://mwegener.com:8040/<%= spielstatus%>')">
<%- include("./includes/Spielerstatus.ejs") %>
</body>
</html>