<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Zwischenseite</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
</head>
<body>  
    <header>
    <h1><%= spielstatus%></h1>
    </header>
    <main>
    <input type="button" value="Weiter gehts!" onclick="window.location.replace('http://mwegener.com:8040/<%= spielstatus%>')">
    <%- include("./includes/Spielerstatus.ejs") %>
    </main>
</body>
</html>