<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Zwischenseite</title>
</head>
<body>  
    <input type="button" value="Weiter gehts!" onclick="alert('Nächste Seite')">
<%- include("./includes/Spielerstatus.ejs") %>
</body>
</html>