body {
    display:flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    width: 1vw;
    height: 1vh;
    background-color: rgba(116, 9, 9, 0.719);
}
main {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

figcaption{
    font-size: 2em;
    font-style: sans-serif
}
header {
    display:flex;
    justify-content: space-evenly;
    background-color: rgba(134, 10, 10, 0.719);
    align-items: center;
    border-bottom:3% solid rgb(53, 9, 4);
}

aside{
    display:flex;
    justify-content: space-evenly;
    background-color: rgba(134, 52, 52, 0.719);
    align-items: center;
}


h1{font-size: 3em;
    font-style: comic }
h2{font-size: 2em;
   font-style: comic}

*{
    font-style: italic;
    color: rgb(204, 122, 122))
    font-size: 5*(vw+vh);
}

input[type="button"]{
	display:inline-block;
	margin:5em;
	font-size:0.5em;
	border:1px solid rgb(26, 17, 16);
	border-radius:50%;
	color:rgb(102, 15, 15);
	background-color:rgb(114, 87, 82);
	width:4vw;
	height:4vh;
	text-align:center;
	padding-top:2%;
}
input[type="button"]:hover{
	background-color:rgb(70, 30, 24);
	border-color:rgb(37, 26, 24);
	box-shadow:inset 3px 3px 7px rgb(49, 30, 26);
}