<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Auswahl</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <header>
    <h2>Kategorie</h2>
    </header>
    <main>
       <div id="kategorieauswahl">
            <input type="button" value="Ich hab noch nie" onclick="alert('http://mwegener.com:8040/ichHabNochNie')">    
            <input type="button" value="Wer würde eher..." onclick="alert('http://mwegener.com:8040/werWuerde')"> 
       </div> 
    </main>
</body>
</html>