<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ich hab noch nie</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <header>
    <h2>Ich hab noch nie</h2>
       <div id="Aussage">
             <%= IchHabNochNie[0]%> 
       </div> 
    </header>
    <main>
       <div id="liste">
           <form>
            <% for (spieler of spielerarray) { %>
            <input type="checkbox" id="<%= spieler.name%>" name="liste">
            <label for="<%= spieler.name%>"> <%= spieler.name%> </label>   
            <% } %> 
            <input type="submit" value="Okay!">
            </form>
       </div>
    </main>
</body>
</html>