<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wer würde</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <header>
    <h2>Wer würde eher...</h2>
       <div id="Aussage">
             <%= WerWuerdeEher[0]%> 
       </div> 
    </header>
    <main>
       <div id="liste">
           <form>
            <% for (spieler of spielerarray) { %>
            <input type="radio" id="spieler" name="<%= spieler.name%>">
            <label for="spieler"> <%= spieler.name%> </label>   
            <% } %> 
            <input type="submit" value="Okay!">
            </form>
       </div>
    </main>
</body>
</html>