<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Einzelauswahl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1><%= spieler%></h1>
       <div id="Spieler">
            <input type="button" value="Quiz" onclick="alert('Quiz wird eingeleitet')">    
            <input type="button" value="Wahrheit" onclick="alert('Wahrheit wird eingeleitet')"> 
       </div> 
</body>
</html>