<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Duellauswahl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <header>
    <h1><%= spieler[0]%> vs. <%= spieler[1]%> </h1>
    </header>
    <main>
       <div id="Spieler">
            <input type="button" value="Spiel" onclick="alert('Spiel wird eingeleitet')">    
            <input type="button" value="Teamwork" onclick="alert('Teamwork wird eingeleitet')"> 
       </div> 
    </main>
</body>
</html>